{
  "extends": ["react-app", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
        "singleQuote": true,
        "printWidth": 80,
        "tabWidth": 2,
        "trailingComma": "none",
        "bracketSpacing": true,
        "semi": true,
        "useTabs": false
      }
    ]
  }
}
